/Workshops/unit1/WS01-MENU/nbproject/private/
/Workshops/unit1/WS01-MENU/build/
/Assignments/unit1/HW01-OPERATION/nbproject/private/
/Assignments/unit1/HW01-OPERATION/build/
/Assignments/unit1/HW02-TAXES/nbproject/private/